

<h1> CHAPTRAK: THE BEGINNING </h1>

<%= image_tag("Chaptrak13.jpg") %>
<%= image_tag("Chaptrak8.jpeg") %>

<p>   It was a day like any other day. It was a frigid winter day in the exotic town of China(town) and Launch Academy was in full swing. Launchers were going about their normal routines....coding, sleeping, taking pictures of each other sleeping, and sleeping while dreaming about sleep. It was only after Dan's riveting afternoon lecture on Instance Methods that Greg arose from his post lunch slumber and noticed something odd. There was something on the floor underneath the whiteboard table (the very same one on which he had just attempted to draw an LOLcat!) "Hmmm," Greg thought to himself. "What in Sandi Metz's name could this possibly be?" As he reached down to pick up the strange object, he gasped in horror. "How could this be?!" Greg thought to himself (We have tried to recreate the look of disgust and outrage that Greg had initially experienced. However, even this photo culd not quite capture Greg's true feelings at the time). Alas, it was an unidentified tube of Chapstick. Not just any Chapstick. A Chapstick so nondescript, so utterly devoid of any information that the impossibility of linking it back to its owner was, indeed, quite horrifying. 
</p>

<p>

   "What could possibly be done to remedy this situation?!" thought Greg. He racked his brain for any possible solution, but found none. Desperate, he turned to Lydia for advice. At first, Lydia was speechless. She couldn't imagine how the former Chapstick owner could possibly survive their days without the luxurious lip moisture that their abandoned Chapstick had previously provided them. Greg and Lydia took a moment of silence to mourn the poor, abandoned Chapstick and tried to go back to their normal Launch routines. However, that night Lydia went back to her Krash Pad and couldn't shake the fact that something had to be done. She talked to her friend Jake about the Chapstick catastrophe and he vowed to fix disastrous situations like these, once and for all. Jake thought for hours but no solution came to mind. Feeling defeated and exhausted, Jake went to bed. It was just past midnight when Jake sprung from his bed and shouted for joy. He had dreamt of an idea so exquisite, so mindblowingly revolutionary, that it must be immediately created and shared for the world to enjoy. His idea was simple. The results: life-changing. Not only could this Chapstick be returned back to its proper owner, but there was a way for millions of lost Chapsticks of to be returned to their owners! Thus, ChapTrak was born. The world was right once again.

   *Note: All true facts have been changed to protect the integrity of ChapTrak.

</p> 


<h1> THE CHAPTRAK TEAM </h1>
</p>

<%= image_tag("Chaptrak12.jpg") %>
<%= image_tag("Chaptrak9.jpg") %>
<%= image_tag("Chaptrak10.jpg") %>
<%= image_tag("Chaptrak14.JPG") %>



